* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECF0F1;
}

.titulo {
    padding-top: 5rem;
}


.titulo h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 8vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2rem;
}

.titulo p {
    text-align: center;
    margin-top: 4vh;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container_form {
    border-radius: 1rem;
    padding: 3rem;
    color: white;
    max-width: 80vw;
}

.container_form .col {  
    border-radius: 2rem;
    padding: 2rem;
    background-color: #28A745;
    margin: 1rem;
}

.container_form .col h3{
    padding: 1rem 0;
}

.container_form .btn {
    color: #28A745;
    background-color: white;
    border: none;
    margin: 2rem 0 0 0;
}

.rodape {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 1rem;
}

.card {
    margin: .5rem 0;
    border: none;
    background-color: #2C3E50;
    color: white;
}

@media (min-width: 768px) {
    .card {
        margin: .5rem;
        border: none;
        background-color: #2C3E50;
        color: white;
    }
    
}

.card-container .row {
    margin: 2rem 0;
}

.card .card-body .card-title {
    text-align: center;
    margin: 1rem 0;
    text-decoration: underline;
}

.card-text {
    margin: 1.5rem 0;
}

.card-body a {
    text-align: center;
    border: none;
}

.link-btn {
    background-color: white;
    color: black;
}

.link-btn :hover {
    background-color: white;
    color: black;
}

.pilantra {
    color: white;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 3rem;
    text-align: center;
}

.extra {
    background-color: #2C3E50;
}

.btn.disabled, .btn:disabled {
    background-color: white;
    color: black;
}